/NetbeanIDE/CandicateManagerment/build/
/NetbeanIDE/CandicateManagerment/nbproject/private/
/NetbeanIDE/StudentManagerment/build/
/NetbeanIDE/AnalyzeInput/nbproject/private/
/NetbeanIDE/AnalyzeInput/build/
/NetbeanIDE/MatrixCalculator/nbproject/private/
/NetbeanIDE/Raw_Base/nbproject/private/
/NetbeanIDE/Raw_Basee/nbproject/private/
/NetbeanIDE/Raw_Basee/build/
/NetbeanIDE/Raw_Basee/dist/
/NetbeanIDE/Raw_Sensei/build/
/NetbeanIDE/Raw_Sensei/nbproject/private/
/NetbeanIDE/Matrix/nbproject/private/
/NetbeanIDE/MatrixCalculator/build/
/NetbeanIDE/W5/DoctorManage/nbproject/private/
/NetbeanIDE/Garbage/nbproject/private/
/NetbeanIDE/Garbage/build/
/NetbeanIDE/Garbage/dist/
/BacTrung/P102/dist/
