/NetbeanIDE/CandicateManagerment/build/
/NetbeanIDE/CandicateManagerment/nbproject/private/
/NetbeanIDE/StudentManagerment/build/
/NetbeanIDE/AnalyzeInput/nbproject/private/
/NetbeanIDE/AnalyzeInput/build/
/NetbeanIDE/MatrixCalculator/nbproject/private/
/NetbeanIDE/Raw_Base/nbproject/private/
/NetbeanIDE/Raw_Basee/nbproject/private/
