/NetbeanIDE/CandicateManagerment/build/
/NetbeanIDE/CandicateManagerment/nbproject/private/
/NetbeanIDE/StudentManagerment/build/
/NetbeanIDE/AnalyzeInput/nbproject/private/
/NetbeanIDE/AnalyzeInput/build/
